.sb-container {
    position: relative;
    overflow: auto;
}
.sb-container::-webkit-scrollbar {
    display: none;
}
.sb-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    background-color: #999;
    border: 0;
    border-radius: 3px;
}
.sb-track {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    width: 10px;
    background-color: #fff;
    border: 0;
    opacity: 1;
}